includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 5: argument types, return types, property types, dead code
    level: 5

    parallel:
        maximumNumberOfProcesses: 4

    excludePaths:
        - vendor/
